In [1]:
introduction to python programming :

SyntaxError: invalid syntax (2318035243.py, line 1)

In [ ]:
understanding the variables in python

In [3]:
x = 2
y = 3

In [4]:
z = x+y
print(z)

5

In [ ]:
Rules for declaring the variation in python:

In [ ]:
1. Rule - 1 : A variable name should not contain any namespaces.

In [5]:
first name ="Shahid"
print(first name)

SyntaxError: invalid syntax (2367178959.py, line 1)

In [6]:
firstname ="shahid"
print(firstname)

shahid

In [ ]:
Rule 2: A variable name should not start with numbers.

1name = "patel"
print(1name)

name1 ="patel"
print(name1)

In [7]:
name1 = "patel"
print(name1)

patel

In [ ]:
Rule No. 3: A variable name should not contain any special characters
    @ $ % & *

In [8]:
name@ = "kumaran"
print(name@)

SyntaxError: invalid syntax (1222749042.py, line 1)

In [ ]:
Introduction to data types in python:
    1. String ====> str
    2. Numbers ====> integers (int) and floats (float) - decimales 0.1,0.2
    3.List ===> list
    4.tuples ====> tuple
    5.DIctionaries ===> dict

In [ ]:
classification 0

In [ ]:
3. triple quotes

In [9]:
student1 = "human" #single quote
print(student1)

human

In [11]:
student2 = "sweet" #double quote
print(student2)

sweet

In [12]:
student3 = "nice" #triple quote
print(student3)

nice

In [ ]:
introduction to string method :

In [13]:
type(student1)

str

In [14]:
type(student2)

str

In [15]:
type(student3)

str

In [ ]:
# is used for commenting the lines ==> python will ignore to execute this

In [16]:
is used for commenting the lines ===> python will ignore to execute this

SyntaxError: invalid syntax (3930788428.py, line 1)